<html>
<head>
    <!--<script src="/script/importSet.js"></script>
    <script src="myscripts.js"></script>
    -->
    <meta charset="utf-8"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <% //scripts.push('jquery-ui-1.8.14.custom.min.js', 'jquery.validate.min.js')                                                                                                                                                                                                                                                                      %>

    <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,700' rel='stylesheet'/>
    <link href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.css' rel='stylesheet'/>
    <link href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.print.css' rel='stylesheet' media='print'/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js'></script>
    -->

    <title></title>
    <script src="/js/modi_front/importSet.js"></script>
    <script src="/js/comm/alarmcommevent.js"></script>
    <!-- coloer picker  관련  -->
    <link href="/css/calender_view.css" rel="stylesheet" type="text/css">
    <style> .colorpicker { z-index: 9999; } </style>
    <script src="/js/modi_front/color_picker.js"></script>

</head>
<body>
<pre>

</pre>
<ul class="nav nav-tabs">
    <li role="presentation modi_date" class="active tab"><a href="#">일정 탭</a></li>
    <li role="presentation modi_time" class="tab"><a href="#">시간 탭 </a></li>
</ul>
<div id="modi_date">
    <input id="title" name="title" type="text" title="일정 제목" class="textinput" value="<%= cal_text %>"/></br>
    <input id="start_date" name="start_date" value="<%= start_date %>"/> ~
    <input id="end_date" name="end_date" value="<%= end_date %>"/></br>

    <!--알림설정 처리데이타셋 -->
    <!--알림설정 처리데이타셋 -->
    <!--알림설정 처리데이타셋 -->
    <input type="hidden" id="use_alarm_config_data" value="<%= use_alarm_config%>"/>
    <input type="hidden" id="alarm_period_data" value="<%=alarm_period%>"/>
    <input type="hidden" id="alarm_day_type_data" value="<%=alarm_day_type%>"/>
    <!--알림설정 처리  -->
    <!--알림설정 처리  -->
    <!--알림설정 처리  -->
    <input type="hidden" id="alarm_time_data" value="<%=alarm_time%>"/>
    <input type="checkbox" name="use_alarm_config" id="use_alarm_config">
    <label>알림설정 처리</label>
    <br/>


    <div class="config_alarm" style="display:none;">
        알림 <br/> <input type="text" style="width:50px" name="alarm_period" id="alarm_period"/>
        <select id="config_alarm_day_type" style="height:25px;">
            <option value="d">일</option>
            <option value="w">주</option>
        </select>
        전
        <select id="config_alarm_time" style="height:25px;">
            <option value="00:00">오전 12:00</option>
            <option value="00:30">오전 12:30</option>
            <option value="1:00">오전 1:00</option>
            <option value="1:30">오전 1:30</option>
            <option value="2:00">오전 2:00</option>
            <option value="2:30">오전 2:30</option>
            <option value="3:00">오전 3:00</option>
            <option value="3:30">오전 3:30</option>
            <option value="4:00">오전 4:00</option>
            <option value="4:30">오전 4:30</option>
            <option value="5:00">오전 5:00</option>
            <option value="5:30">오전 5:30</option>
            <option value="6:00">오전 6:00</option>
            <option value="6:30">오전 6:30</option>
            <option value="7:00">오전 7:00</option>
            <option value="7:30">오전 7:30</option>
            <option value="8:00">오전 8:00</option>
            <option value="8:30">오전 8:30</option>
            <option value="9:00">오전 9:00</option>
            <option value="9:30">오전 9:30</option>
            <option value="10:00">오전 10:00</option>
            <option value="10:30">오전 10:30</option>
            <option value="11:00">오전 11:00</option>
            <option value="11:30">오전 11:30</option>
            <option value="12:00">오후 12:00</option>
            <option value="12:30">오후 12:30</option>
            <option value="13:00">오후 1:00</option>
            <option value="13:30">오후 1:30</option>
            <option value="14:00">오후 2:00</option>
            <option value="14:30">오후 2:30</option>
            <option value="15:00">오후 3:00</option>
            <option value="15:30">오후 3:30</option>
            <option value="16:00">오후 4:00</option>
            <option value="16:30">오후 4:30</option>
            <option value="17:00">오후 5:00</option>
            <option value="17:30">오후 5:30</option>
            <option value="18:00">오후 6:00</option>
            <option value="18:30">오후 6:30</option>
            <option value="19:00">오후 7:00</option>
            <option value="19:30">오후 7:30</option>
            <option value="20:00">오후 8:00</option>
            <option value="20:30">오후 8:30</option>
            <option value="21:00">오후 9:00</option>
            <option value="21:30">오후 9:30</option>
            <option value="22:00">오후 10:00</option>
            <option value="22:30">오후 10:30</option>
            <option value="23:00">오후 11:00</option>
            <option value="23:30">오후 11:30</option>
        </select>
        에 알림 <br/>
    </div>

    일정 색상<br/> <span id="color"></span>
    <!-- 칼라 피커  -->
    <div class="mColorPicker eColorPicker">
        <!--색상관련 이벤트 처리 해준다 -->
        <span class="selected" style="background-color:#ff0000"></span><input type="text" id="label_color" maxlength="7" readonly="readonly" value="<%= cal_label_color %>" class="fText" style="width:50px">
        <span class="selector">
                            <a href="#none">컬러선택</a>
    </span>
    </div>
    </br>
</div>

<div id="modi_time">
    <input value="t"/>
</div>
<button type="button" id="back">이전</button>
<button type="button" id="eSave">저장</button>
<!--<h1>sadassa</h1> -->

<script>
    function getQuerystring(paramName) {
        var _tempUrl = window.location.search.substring(1); //url에서 처음부터 '?'까지 삭제
        var _tempArray = _tempUrl.split('&'); // '&'을 기준으로 분리하기
        for (var i = 0; _tempArray.length; i++) {
            var _keyValuePair = _tempArray[i].split('='); // '=' 을 기준으로 분리하기
            if (_keyValuePair[0] == paramName) { // _keyValuePair[0] : 파라미터 명 // _keyValuePair[1] : 파라미터 값
                return _keyValuePair[1];
            }
        }
    }

    //tab 클릭시
    $('.tab').click(function () {

    });


    //이전
    $('#back').click(function (e) {
        window.location.href = '/calender_view';
    })

    //수정
    $('#eSave').click(function (e) {
        var sTitle = $('#title').val();
        var sStartDate = $('#start_date').val();
        var sEndDate = $('#end_date').val();
        var sCalLabelColor = $('#label_color').val();
        var calNo = getQuerystring('calNo');
        var oParams = {
            'cal_no': calNo,
            'start_date': sStartDate,
            'end_date': sEndDate,
            'schedule_contents': sTitle,
            'label_color': sCalLabelColor
        };

        $.ajax({
            dataType: "json",
            url: '/modified',
            type: 'post',
            data: oParams,
            success: function (data) {
                var oReturnData = JSON.parse(data['return_data']);
                console.log('oReturnData');
                console.log(oReturnData);

                if (oReturnData.affectedRows > 0) {
                    //처리후  성공하면  메인으로
                    alert('수정 성공')
                    window.location.href = '/calender_view';
                }
            }
        });
    })

    var aReturnData = {};
    aReturnData['use_alarm_config'] = $('#use_alarm_config_data').val()
    aReturnData['alarm_period']  = $('#alarm_period_data').val()
    aReturnData['alarm_day_type']  = $('#alarm_day_type_data').val()
    aReturnData['alarm_time']  = $('#alarm_time_data').val()
    //    use_alarm_config
    //    alarm_period
    //    alarm_day_type
    //    alarm_time
    //    //일정관련 처리

    ALARM_COMM_EVENT.init_event();
    ALARM_COMM_EVENT.alarm_modi_view(aReturnData);

    //수정 페이지  시작시 색상관련 이벤트 처리 해준다
</script>

</body>
</html>


<!--<div jscontroller="XUv4Sc" jsaction="WLC1de:FKh1ne; keydown:uYT2Vb;xtcXDd:.CLIENT;AjJexe:.CLIENT" class="ecp" role="radiogroup">
    <div jsaction="click:ysBbzd; mouseenter:PuWzJb; mouseleave:sg7kmc;" data-color="none" id=":1h.none" class="goog-inline-block ecp-rb-default" style="background-color: rgb(159, 225, 231); border-color: rgb(11, 188, 178);" aria-labelledby=":1g.eventColors-label :1h.none-label" title="없음" role="radio">
        <div class="to-select"></div>
    </div>
    <div id=":1h.none-label" class="hdn">없음</div>
    <div class="ecp-dt-hr goog-inline-block"></div>
    <div jsaction="click:ysBbzd; mouseenter:PuWzJb; mouseleave:sg7kmc;" data-color="#5484ed" id=":1h.#5484ed" class="goog-inline-block ecp-rb-color" style="background-color: rgb(84, 132, 237); border-color: rgb(84, 132, 237);" aria-labelledby=":1g.eventColors-label :1h.#5484ed-label" title="진한 파란색" role="radio">
        <div class="to-select"></div>
    </div>
    <div id=":1h.#5484ed-label" class="hdn">진한 파란색</div>
    <div jsaction="click:ysBbzd; mouseenter:PuWzJb; mouseleave:sg7kmc;" data-color="#a4bdfc" id=":1h.#a4bdfc" class="goog-inline-block ecp-rb-color" style="background-color: rgb(164, 189, 252); border-color: rgb(164, 189, 252);" aria-labelledby=":1g.eventColors-label :1h.#a4bdfc-label" title="파란색" role="radio">
        <div class="to-select"></div>
    </div>
    <div id=":1h.#a4bdfc-label" class="hdn">파란색</div>
    <div jsaction="click:ysBbzd; mouseenter:PuWzJb; mouseleave:sg7kmc;" data-color="#46d6db" id=":1h.#46d6db" class="goog-inline-block ecp-rb-color" style="background-color: rgb(70, 214, 219); border-color: rgb(70, 214, 219);" aria-labelledby=":1g.eventColors-label :1h.#46d6db-label" title="청록색" role="radio">
        <div class="to-select"></div>
    </div>
    <div id=":1h.#46d6db-label" class="hdn">청록색</div>
    <div jsaction="click:ysBbzd; mouseenter:PuWzJb; mouseleave:sg7kmc;" data-color="#7ae7bf" id=":1h.#7ae7bf" class="goog-inline-block ecp-rb-color" style="background-color: rgb(122, 231, 191); border-color: rgb(122, 231, 191);" aria-labelledby=":1g.eventColors-label :1h.#7ae7bf-label" title="녹색" role="radio">
        <div class="to-select"></div>
    </div>
    <div id=":1h.#7ae7bf-label" class="hdn">녹색</div>
    <div jsaction="click:ysBbzd; mouseenter:PuWzJb; mouseleave:sg7kmc;" data-color="#51b749" id=":1h.#51b749" class="goog-inline-block ecp-rb-color" style="background-color: rgb(81, 183, 73); border-color: rgb(81, 183, 73);" aria-labelledby=":1g.eventColors-label :1h.#51b749-label" title="진한 녹색" role="radio">
        <div class="to-select"></div>
    </div>
    <div id=":1h.#51b749-label" class="hdn">진한 녹색</div>
    <div jsaction="click:ysBbzd; mouseenter:PuWzJb; mouseleave:sg7kmc;" data-color="#fbd75b" id=":1h.#fbd75b" class="goog-inline-block ecp-rb-color" style="background-color: rgb(251, 215, 91); border-color: rgb(251, 215, 91);" aria-labelledby=":1g.eventColors-label :1h.#fbd75b-label" title="노란색" role="radio">
        <div class="to-select"></div>
    </div>
    <div id=":1h.#fbd75b-label" class="hdn">노란색</div>
    <div jsaction="click:ysBbzd; mouseenter:PuWzJb; mouseleave:sg7kmc;" data-color="#ffb878" id=":1h.#ffb878" class="goog-inline-block ecp-rb-color" style="background-color: rgb(255, 184, 120); border-color: rgb(255, 184, 120);" aria-labelledby=":1g.eventColors-label :1h.#ffb878-label" title="주황색" role="radio">
        <div class="to-select"></div>
    </div>
    <div id=":1h.#ffb878-label" class="hdn">주황색</div>
    <div jsaction="click:ysBbzd; mouseenter:PuWzJb; mouseleave:sg7kmc;" data-color="#ff887c" id=":1h.#ff887c" class="goog-inline-block ecp-rb-color" style="background-color: rgb(255, 136, 124); border-color: rgb(255, 136, 124);" aria-labelledby=":1g.eventColors-label :1h.#ff887c-label" title="빨간색" role="radio" tabindex="0">
        <div class="to-select bcp-selected"></div>
    </div>
    <div id=":1h.#ff887c-label" class="hdn">빨간색</div>
    <div jsaction="click:ysBbzd; mouseenter:PuWzJb; mouseleave:sg7kmc;" data-color="#dc2127" id=":1h.#dc2127" class="goog-inline-block ecp-rb-color" style="background-color: rgb(220, 33, 39); border-color: rgb(220, 33, 39);" aria-labelledby=":1g.eventColors-label :1h.#dc2127-label" title="진한 빨간색" role="radio">
        <div class="to-select"></div>
    </div>
    <div id=":1h.#dc2127-label" class="hdn">진한 빨간색</div>
    <div jsaction="click:ysBbzd; mouseenter:PuWzJb; mouseleave:sg7kmc;" data-color="#dbadff" id=":1h.#dbadff" class="goog-inline-block ecp-rb-color" style="background-color: rgb(219, 173, 255); border-color: rgb(219, 173, 255);" aria-labelledby=":1g.eventColors-label :1h.#dbadff-label" title="보라색" role="radio">
        <div class="to-select"></div>
    </div>
    <div id=":1h.#dbadff-label" class="hdn">보라색</div>
    <div jsaction="click:ysBbzd; mouseenter:PuWzJb; mouseleave:sg7kmc;" data-color="#e1e1e1" id=":1h.#e1e1e1" class="goog-inline-block ecp-rb-color" style="background-color: rgb(225, 225, 225); border-color: rgb(225, 225, 225);" aria-labelledby=":1g.eventColors-label :1h.#e1e1e1-label" title="회색" role="radio">
        <div class="to-select"></div>
    </div>
    <div id=":1h.#e1e1e1-label" class="hdn">회색</div>
</div>
-->